.panel {
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}

.dir {
    float: right;
}

.directoryPanel {
    width: 50%;
    float: left;
}

.uploadPanel{
    width: 50%;
    float: left;
}

